/*--------------------------------------------------------*/
/* Connect font Raleway from directory fonts in all .html */
@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-Bold.ttf") format("truetype");
}
/* Define variable with colors in all .html */
:root {
  --black-color: #000000;
  --black-heading-color: #212121;
  --grey-text-color: #757575;
  --grey-icon-color: #afb1b8;
  --blue-link-color: #2196f3;
  --white-color: #ffffff;
  --white-link-color: rgba(255, 255, 255, 0.6);
  --white-icon-color: rgba(255, 255, 255, 0.1);
  --black-background: rgba(0, 0, 0, 0.2);
  --black-section-color: #2f303a;
  --white-button-color: #f5f4fa;
  --light-grey-card-color: #eeeeee;
}
/*--------------------------------------------------------*/

/*--------------------------------------------------------*/
/* Define main rules for pages in all .html*/
body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: var(--grey-text-color);
  background-color: var(--white-color);
}
input {
  outline: none;
}
textarea {
  resize: none;
  outline: none;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.animation {
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.flexbox {
  display: flex;
}
.flexbox-inline {
  display: inline-flex;
}
/* Tag a style in index.html*/
.link {
  text-decoration: none;
  color: var(--black-heading-color);
}
/* Hover tag a style in index.html*/
.link:hover {
  color: var(--blue-link-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* Hide list style element in all .html */
.list {
  list-style: none;
}
.null {
  margin: 0;
  padding: 0;
}
.grid-list {
  display: flex;
  flex-wrap: wrap;
}
.section-header {
  color: var(--black-heading-color);
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  padding-bottom: 50px;
}
/*--------------------------------------------------------*/

/*--------------------------------------------------------*/
.page-header {
  height: 80px;
  padding-top: 24px;
  padding-bottom: 25px;
  border-bottom: 1px solid #ececec;
}
.page-header .flexbox {
  justify-content: flex-end;
  align-items: center;
}
/*--------------------------------------------------------*/

/*--------------------------------------------------------*/
/*Rules for logo*/
.logo-header {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  margin-right: 93px;
  color: var(--blue-link-color);
}
.logo-footer {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  color: var(--blue-link-color);
}
/*Second part of logo in header*/
.studio-header {
  color: var(--black-color);
}
/*Second part of logo in footer*/
.studio-footer {
  color: var(--white-color);
}
/*--------------------------------------------------------*/

/*--------------------------------------------------------*/
.navigation {
  display: flex;
  align-items: center;
  margin-right: auto;
}
.header-item {
  color: var(--black-heading-color);
}
.header-item:not(:last-child) {
  margin-right: 50px;
}
.nav-link {
  position: relative;
}
.nav-link:hover {
  color: var(--blue-link-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-link::after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  opacity: 0;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-bottom-style: solid;
  border-radius: 2px;
  color: var(--blue-link-color);
  padding-bottom: 30px;
}
.nav-link:hover::after {
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 1;
}
.actual-nav-link::after {
  opacity: 1;
}
.actual-nav-link {
  color: var(--blue-link-color);
}
.contact-item {
  margin-left: 40px;
  justify-content: center;
}
.contact-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--grey-text-color);
}
.contact-link:hover {
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--blue-link-color);
}
.mail-icon {
  margin-right: 10px;
  height: 12px;
  width: 16px;
  fill: var(--grey-text-color);
  transition-property: color;
  transition-duration: 250ms;
}
.phone-icon {
  margin-right: 10px;
  height: 16px;
  width: 10px;
  fill: var(--grey-text-color);
}
.contact-link:hover .mail-icon {
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: var(--blue-link-color);
}
.contact-link:hover .phone-icon {
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: var(--blue-link-color);
}
/*--------------------------------------------------------*/

/*--------------------------------------------------------*/
.section-hero {
  display: block;
  height: 600px;
  background-image: url(../images/hero.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}
.img-overlay {
  height: 600px;
  width: 100%;
  background-image: linear-gradient(
    rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)
  );
}
.hero-list {
  padding-top: 200px;
}
.hero-item {
  text-align: center;
}
.hero-header {
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-color);
}
/* Button order in index.html */
.button-order {
  font-size: 16px;
  font-weight: bold;
  border-radius: 4px;
  margin-top: 30px;
  padding: 10px 32px;
  color: var(--white-color);
  background-color: var(--blue-link-color);
}
/*--------------------------------------------------------*/

/*--------------------------------------------------------*/
.hide-header {
  display: none;
}
.grid-advantage-item {
  width: calc((100% - 30px * 3) / 4);
  margin-right: 30px;
}
.grid-advantage-item:nth-child(4n) {
  margin-right: 0;
}
.advantage-item-icon {
  width: 270px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  border-radius: 4px;
  background-color: var(--white-button-color);
}
.advantage-icon {
  width: 70px;
  height: 70px;
}
.advantage-header {
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 10px;
  text-transform: uppercase;
  color: var(--black-heading-color);
}
.description {
  font-weight: normal;
}
/*--------------------------------------------------------*/

/*--------------------------------------------------------*/
.section-works {
  padding-bottom: 94px;
}
.grid-works-item {
  width: calc((100% - 30px * 2) / 3);
  margin-right: 30px;
}
.grid-works-item:nth-child(3n) {
  margin-right: 0;
}
.works-container {
  position: relative;
}
.works-img {
  display: block;
  max-width: 100%;
  height: auto;
}
.works-item {
  mix-blend-mode: normal;
}
.works-description {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 70px;
  padding-top: 25px;
  text-align: center;
  text-justify: auto;
  font-weight: bold;
  background-color: rgba(47, 48, 58, 0.8);
  text-transform: uppercase;
  color: var(--white-color);
}
/*--------------------------------------------------------*/

/*--------------------------------------------------------*/
.section-team {
  background-color: var(--white-button-color);
}
.grid-team-item {
  width: calc((100% - 30px * 3) / 4);
  margin-right: 30px;
}
.grid-team-item:nth-child(4n) {
  margin-right: 0;
}
.team-item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--white-color);
}
.team-img {
  width: 270px;
  height: 260px;
}
.card-fullname {
  font-size: 16px;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 10px;
  color: var(--black-heading-color);
}
.card-description {
  font-weight: normal;
  font-size: 16px;
  text-align: center;
  margin-bottom: 14px;
  color: var(--grey-text-color);
}
.social-list {
  display: flex;
  margin-left: 32px;
  margin-right: 32px;
  margin-bottom: 30px;
  justify-content: center;
}
.social-item {
  margin-right: 10px;
  border-radius: 50%;
}
.social-item:nth-child(4n) {
  margin-right: 0;
}
.social-item:not(:last-child) {
  margin-right: 10px;
}
.social-item:hover {
  background-color: var(--blue-link-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-item:hover .social-icon {
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: var(--white-color);
}
.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
}
.social-icon {
  width: 20px;
  height: 20px;
  fill: var(--grey-icon-color);
}
/*--------------------------------------------------------*/

/*--------------------------------------------------------*/
.grid-list.center {
  justify-content: center;
  align-content: center;
  margin-bottom: 50px;
}
/* Buttons filter in portfolio.html */
.button-filter {
  font-size: 16px;
  border-style: none;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  padding: 6px 22px;
  color: var(--black-heading-color);
  background-color: var(--white-button-color);
}
/* Hover for buttons in portfolio.html */
.button-filter:hover {
  color: var(--white-color);
  background-color: var(--blue-link-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-projects-item {
  margin-right: 8px;
}
.projects-item:last-child {
  margin-right: 0;
}
/*--------------------------------------------------------*/

/*--------------------------------------------------------*/
.card-projects-item {
  width: calc((100% - 30px * 2) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
  background-color: var(--white-color);
  border: 1px solid var(--light-grey-card-color);
}
.card-projects-item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.card-projects-item:nth-child(3n) {
  margin-right: 0px;
}
.card-projects-item:hover .img-text {
  opacity: 1;
  top: 0;
  left: 0;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.projects-description {
  margin: 20px 24px;
}
.projects-description-item {
  margin-bottom: 4px;
}
.projects-description-item:last-child {
  margin-bottom: 0;
}
.project-description-header {
  font-weight: bold;
  font-size: 18px;
  color: var(--black-heading-color);
}
.project-description-text {
  font-weight: normal;
  font-size: 16px;
  color: var(--grey-text-color);
}
.card-container {
  position: relative;
  overflow: hidden;
}
.card-img {
  display: block;
  max-width: 100%;
  height: auto;
}
.img-text {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  padding-top: 63px;
  padding-right: 24px;
  padding-left: 24px;
  padding-bottom: 63px;
  font-weight: normal;
  font-size: 18px;
  color: var(--white-color);
  background: rgba(33, 150, 243, 0.9);
}
/*--------------------------------------------------------*/

/*--------------------------------------------------------*/
.client-item {
  width: calc((100% - 30px * 5) / 6);
  margin-right: 30px;
}
.client-item:nth-child(6n) {
  margin-right: 0;
}
.client-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 90px;
  border: 1px solid var(--grey-icon-color);
  border-radius: 4px;
}
.client-icon {
  fill: var(--grey-icon-color);
}

.client-link:hover {
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border: 1px solid var(--blue-link-color);
}

.client-link:hover .client-icon {
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: var(--blue-link-color);
}
/*--------------------------------------------------------*/

/*--------------------------------------------------------*/
.page-footer {
  padding-top: 60px;
  padding-bottom: 60px;
}
.page-footer {
  color: var(--white-text-color);
  background-color: var(--black-section-color);
}
.page-footer .mail-link .phone-link {
  color: var(--white-link-color);
}
/*--------------------------------------------------------*/

/*--------------------------------------------------------*/
.address-container {
  display: flex;
  flex-direction: column;
}
.address-section {
  margin-top: 20px;
}
.address-item {
  padding-bottom: 9px;
}
.address-item:last-child {
  padding-bottom: 0;
}
.mail-link-footer,
.phone-link-footer {
  color: var(--white-link-color);
}
.address {
  color: var(--white-color);
}
/*--------------------------------------------------------*/

/*--------------------------------------------------------*/
.social-container {
  display: inline-block;
  margin-top: 10px;
  margin-left: 70px;
  margin-right: 93px;
}
.footer-social-list {
  display: inline-flex;
  justify-content: center;
}

.social-heading {
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  color: var(--white-color);
  margin-bottom: 20px;
}

.footer-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--white-icon-color);
}

.footer-social-item {
  margin-right: 10px;
  border-radius: 50%;
}

.footer-social-item:nth-child(4n) {
  margin-right: 0;
}

.footer-social-item:hover {
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: var(--blue-link-color);
}

.footer-social-icon {
  width: 20px;
  height: 20px;
  fill: var(--white-color);
}

.footer-social-item:hover .social-icon {
  fill: var(--white-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/*--------------------------------------------------------*/

/*--------------------------------------------------------*/
.subscribe-container {
  display: block;
  margin-top: 10px;
}
.subscribe-form {
  display: flex;
}
.subscribe {
  display: flex;
  justify-content: flex-start;
  font-weight: 700;
  font-size: 14px;
  margin-bottom: 20px;
  text-transform: uppercase;
  color: var(--white-color);
}

.subscribe-textbox {
  width: 356px;
  height: 50px;
  border: 1px solid var(--white-link-color);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px var(--black-background));
  border-radius: 4px;
  background-color: var(--black-section-color);
  padding-left: 16px;
  margin-right: 12px;
}

.subscribe-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 50px;
  background: var(--blue-link-color);
  border-color: var(--blue-link-color);
  color: var(--white-color);
  box-shadow: 0px 4px 4px var(--black-background);
  border-radius: 4px;
  border: 0;
  cursor: pointer;
}

.icon-send-svg {
  fill: var(--white-color);
  margin-left: 10px;
}
/*--------------------------------------------------------*/

/*--------------------------------------------------------*/
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--black-background);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow-y: auto;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 528px;
  min-height: 581px;
  background: var(--white-color);
  box-shadow: 0px 2px 1px var(--black-background);
  border-radius: 4px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close {
  position: relative;
}
.close-button {
  position: absolute;
  top: -40px;
  right: 0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-top: 8px;
  margin-right: 8px;
  background-color: var(--white-color);
  border: 1px solid var(--black-background);
  cursor: pointer;
}

.close-button-svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  fill: var(--black-color);
}

.close-button:hover .close-button-svg {
  fill: var(--blue-link-color);
}
.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.is-hidden .modal {
  transform: translate(-200%);
}

.modal-form-title {
  margin-top: 40px;
  margin-right: 40px;
  margin-bottom: 12px;
  margin-left: 40px;
  font-weight: bold;
  font-size: 20px;
  text-align: center;

  color: var(--black-heading-color);
}
.modal-form {
  display: flex;
  flex-direction: column;
  margin-right: auto;
  margin-left: auto;
  padding-top: 0;
  padding-right: 40px;
  padding-bottom: 40px;
  padding-left: 40px;
  border-color: transparent;
}
.modal-form-label {
  display: block;
  margin-bottom: 4px;
}
.modal-form-list {
  position: relative;
}

.modal-form-list:not(:last-child) {
  margin-bottom: 10px;
}
.modal-form-list:focus-within .modal-svg {
  fill: var(--blue-link-color);
}
.modal-form-text {
  width: 100%;
  padding: 11px 42px;
  border: 1px solid var(--black-background);
  border-radius: 4px;
  cursor: pointer;
}
.modal-form-text:focus {
  border-color: var(--blue-link-color);
}
.container-svg {
  position: absolute;
  height: 18px;
  width: 18px;
  top: 50%;
  transform: translateY(-50%);
  left: 12px;
  z-index: 10;
}
.modal-svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.modal-textarea {
  display: flex;
  width: 100%;
  padding-top: 12px;
  padding-right: 16px;
  padding-bottom: 12px;
  padding-left: 16px;
  margin-bottom: 20px;
  color: rgba(117, 117, 117, 0.5);
  border: 1px solid var(--black-background);
  cursor: pointer;
}
.modal-textarea:focus-within {
  border-color: var(--blue-link-color);
}
.container-checkbox {
  position: relative;
  display: flex;
  justify-items: center;
  align-items: center;
  height: 24px;
  margin-left: 12px;
  margin-right: 12px;
  margin-bottom: 30px;
}
.modal-form-checkbox-label {
  position: absolute;
  left: 23px;
  cursor: pointer;
}
.modal-form-checkbox-label::before {
  position: absolute;
  content: "";
  top: 50%;
  transform: translateY(-50%);
  left: -22px;
  width: 14px;
  height: 14px;
  border: 1px solid var(--black-heading-color);
  border-radius: 19%;
}
.modal-form-checkbox {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 1px;
  width: 1px;
  height: 1px;
}
.check-svg {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 1px;
  width: 14px;
  height: 14px;
  border: 1px solid transparent;
  border-radius: 19%;
  fill: transparent;
}
.modal-form-checkbox:checked ~ .check-svg {
  background-color: var(--blue-link-color);
  fill: var(--white-color);
}
.modal-form-link {
  color: var(--blue-link-color);
  text-decoration: underline;
}
.modal-form-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 50px;
  padding-top: 10px;
  padding-right: 55px;
  padding-bottom: 10px;
  padding-left: 56px;
  margin-left: auto;
  margin-right: auto;
  background: var(--blue-link-color);
  border-color: var(--blue-link-color);
  color: var(--white-color);
  box-shadow: 0px 4px 4px var(--black-background);
  border-radius: 4px;
  border: 0;
  cursor: pointer;
}
