.button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  border-radius: 4px;
  border-style: none;
  background-color: $blue-link;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  color: $white;
  text-align: center;
  line-height: 1.62;
  letter-spacing: 0.06em;
  cursor: pointer;
}
