body {
  background-color: $white;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: $grey-text;
  letter-spacing: 0.03em;
}
h1,
h2,
h3,
ul,
p,
b {
  margin: 0;
  padding: 0;
}
input {
  outline: none;
}
textarea {
  resize: none;
  outline: none;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.flex {
  display: flex;
}
